<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prize.lottery.mapper.DltRecommendMapper">

    <resultMap id="DltRecommendMap" type="com.prize.lottery.po.dlt.DltRecommendPo">
        <id column="id" property="id"/>
        <result column="period" property="period"/>
        <result column="gmt_create" property="gmtCreate"/>
        <association property="red1" javaType="com.prize.lottery.value.ForecastValue">
            <result column="r1" property="data"/>
            <result column="hit_r1" property="hitData"/>
            <result column="r1_hit" property="dataHit"/>
        </association>
        <association property="red2" javaType="com.prize.lottery.value.ForecastValue">
            <result column="r2" property="data"/>
            <result column="hit_r2" property="hitData"/>
            <result column="r2_hit" property="dataHit"/>
        </association>
        <association property="red3" javaType="com.prize.lottery.value.ForecastValue">
            <result column="r3" property="data"/>
            <result column="hit_r3" property="hitData"/>
            <result column="r3_hit" property="dataHit"/>
        </association>
        <association property="red10" javaType="com.prize.lottery.value.ForecastValue">
            <result column="r10" property="data"/>
            <result column="hit_r10" property="hitData"/>
            <result column="r10_hit" property="dataHit"/>
        </association>
        <association property="red20" javaType="com.prize.lottery.value.ForecastValue">
            <result column="r20" property="data"/>
            <result column="hit_r20" property="hitData"/>
            <result column="r20_hit" property="dataHit"/>
        </association>
        <association property="redKill3" javaType="com.prize.lottery.value.ForecastValue">
            <result column="rk3" property="data"/>
            <result column="hit_rk3" property="hitData"/>
            <result column="rk3_hit" property="dataHit"/>
        </association>
        <association property="redKill6" javaType="com.prize.lottery.value.ForecastValue">
            <result column="rk6" property="data"/>
            <result column="hit_rk6" property="hitData"/>
            <result column="rk6_hit" property="dataHit"/>
        </association>
        <association property="blue1" javaType="com.prize.lottery.value.ForecastValue">
            <result column="b1" property="data"/>
            <result column="hit_b1" property="hitData"/>
            <result column="b1_hit" property="dataHit"/>
        </association>
        <association property="blue2" javaType="com.prize.lottery.value.ForecastValue">
            <result column="b2" property="data"/>
            <result column="hit_b2" property="hitData"/>
            <result column="b2_hit" property="dataHit"/>
        </association>
        <association property="blue6" javaType="com.prize.lottery.value.ForecastValue">
            <result column="b6" property="data"/>
            <result column="hit_b6" property="hitData"/>
            <result column="b6_hit" property="dataHit"/>
        </association>
        <association property="blueKill3" javaType="com.prize.lottery.value.ForecastValue">
            <result column="bk" property="data"/>
            <result column="hit_bk" property="hitData"/>
            <result column="bk_hit" property="dataHit"/>
        </association>
    </resultMap>

    <insert id="addDltRecommend" parameterType="com.prize.lottery.po.dlt.DltRecommendPo" useGeneratedKeys="true"
            keyProperty="id">
        insert into dlt_recommend(period,
                                  r1,
                                  r2,
                                  r3,
                                  r10,
                                  r20,
                                  rk3,
                                  rk6,
                                  b1,
                                  b2,
                                  b6,
                                  bk,
                                  gmt_create
                                 )
        values (#{period},
                #{red1.data},
                #{red2.data},
                #{red3.data},
                #{red10.data},
                #{red20.data},
                #{redKill3.data},
                #{redKill6.data},
                #{blue1.data},
                #{blue2.data},
                #{blue6.data},
                #{blueKill3.data},
                current_time
               ) on duplicate key
        update
            r1=
        values (r1), r2=
        values (r2), r3=
        values (r3), r10=
        values (r10), r20=
        values (r20), rk3=
        values (rk3), rk6=
        values (rk6), b1=
        values (b1), b2=
        values (b2), b6=
        values (b6), bk=
        values (bk)
    </insert>

    <update id="editDltRecommend" parameterType="com.prize.lottery.po.dlt.DltRecommendPo">
        update dlt_recommend
        set
            hit_r1=#{red1.hitData},
            r1_hit=#{red1.dataHit},
            hit_r2=#{red2.hitData},
            r2_hit=#{red2.dataHit},
            hit_r3=#{red3.hitData},
            r3_hit=#{red3.dataHit},
            hit_r10=#{red10.hitData},
            r10_hit=#{red10.dataHit},
            hit_r20=#{red20.hitData},
            r20_hit=#{red20.dataHit},
            hit_rk3=#{redKill3.hitData},
            rk3_hit=#{redKill3.dataHit},
            hit_rk6=#{redKill6.hitData},
            rk6_hit=#{redKill6.dataHit},
            hit_b1=#{blue1.hitData},
            b1_hit=#{blue1.dataHit},
            hit_b2=#{blue2.hitData},
            b2_hit=#{blue2.dataHit},
            hit_b6=#{blue6.hitData},
            b6_hit=#{blue6.dataHit},
            hit_bk=#{blueKill3.hitData},
            bk_hit=#{blueKill3.dataHit},
            calc_time=current_time
        where
            id = #{id}
    </update>

    <sql id="recommendSql">
        id
        ,period,r1,r2,r3,
        r10,r20,rk3,rk6,
        b1,b2,b6,bk,
        gmt_create
    </sql>

    <sql id="recommendHitSql">
        id
        ,period,
        hit_r1,r1_hit,
        hit_r2,r2_hit,
        hit_r3,r3_hit,
        hit_r10,r10_hit,
        hit_r20,r20_hit,
        hit_rk3,rk3_hit,
        hit_rk6,rk6_hit,
        hit_b1,b1_hit,
        hit_b2,b2_hit,
        hit_b6,b6_hit,
        hit_bk,bk_hit,
        calc_time
    </sql>

    <select id="getDltRecommendByPeriod" parameterType="java.lang.String" resultMap="DltRecommendMap">
        select
        <include refid="recommendSql"/>
        from dlt_recommend
        where period=#{period}
    </select>

    <select id="getDltRecommendHitByPeriod" parameterType="java.lang.String" resultMap="DltRecommendMap">
        select
        <include refid="recommendHitSql"/>
        from dlt_recommend
        where period=#{period}
    </select>

    <select id="getDltRecommendList" parameterType="com.cloud.arch.page.PageCondition"
            resultMap="DltRecommendMap">
        select
        <include refid="recommendHitSql"/>,
        IF(calc_time is null,r1,'') as r1,
        IF(calc_time is null,r2,'') as r2,
        IF(calc_time is null,r3,'') as r3,
        IF(calc_time is null,r10,'') as r10,
        IF(calc_time is null,r20,'') as r20,
        IF(calc_time is null,rk3,'') as rk3,
        IF(calc_time is null,rk6,'') as rk6,
        IF(calc_time is null,b1,'') as b1,
        IF(calc_time is null,b2,'') as b2,
        IF(calc_time is null,b6,'') as b6,
        IF(calc_time is null,bk,'') as bk
        from dlt_recommend
        <where>
            <if test="condition.period!=null">
                period=#{condition.period}
            </if>
            <if test="condition.opened!=null">
                calc_time is not null
            </if>
        </where>
        order by period desc
        limit #{offset},#{limit}
    </select>

    <select id="countDltRecommendList" parameterType="com.cloud.arch.page.PageCondition"
            resultType="java.lang.Integer">
        select count(1)
        from dlt_recommend
        <where>
            <if test="condition.period!=null">
                period=#{condition.period}
            </if>
            <if test="condition.opened!=null">
                calc_time is not null
            </if>
        </where>
    </select>

    <select id="latestDltRecommendPeriod" resultType="com.prize.lottery.value.Period">
        select
            period,
            if(calc_time is null, 0, 1) calculated
        from
            dlt_recommend
        order by
            period desc limit 1
    </select>

</mapper>
